<?xml version="1.0" encoding="UTF-8"?>
<root>
    <mail>
        <send_mail>false</send_mail>
        <username>test_curl</username>
        <password>test_curl_123!</password>
        <nickname>daemon</nickname>
        <smtp_host>smtp.126.com</smtp_host>
        <smtp_port>25</smtp_port>
        <subject>rayvision_w5_daemon</subject>
        <from>test_curl@126.com</from>
        <tos>
            <to>ken_scott@163.com</to>
        </tos>
        <ccs>
            <cc>ken_scott@126.com</cc>
        </ccs>
        <bccs>
            <bcc></bcc>
            <bcc></bcc>
        </bccs>
    </mail>
    <check_interval>30</check_interval>
    <services>
        <service>
            <show>true</show>
            <host>127.0.0.1</host>
            <ports>
                <port>9912</port>
                <port>9915</port>
                <port>9999</port>
            </ports>
            <path>d:/munu/</path>
            <file>munu.exe</file>
            <params></params>
        </service>
        <service>
            <show>false</show>
            <host>127.0.0.1</host>
            <ports>
                <port>10001</port>
            </ports>
            <path>c:/munu_agent/</path>
            <file>munu_agent.exe</file>
            <params>
                <param></param>
                <param></param>
            </params>
        </service>
        <service>
            <show>false</show>
            <host></host>
            <ports></ports>
            <path>c:/windows/system32/</path>
            <file>calc.exe</file>
            <params>
                <param>1</param>
                <param>+</param>
                <param>2</param>
            </params>
        </service>
        <service>
            <show>true</show>
            <path>c:/python27/</path>
            <file>python.exe</file>
            <params>
                <param>c:/test.py</param>
                <param>argv1</param>
                <param>"argv 2"</param>
                <param>"argv 3"</param>
                <param>argv4</param>
            </params>
        </service>
    </services>
</root>
